<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>登记发表论文情况</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style>
        .container.top { /* 为新的类添加样式 */
            height: 200px; /* 设置高度为视口的高度 */
            background-color: transparent; /* 设置背景颜色为透明 */
            display: flex; /* 使用flex布局 */
            justify-content: center; /* 水平居中 */
            align-items: center; /* 垂直居中 */
        }
    </style>
</head>
<body>
<div class="container top"> <!-- 使用container-fluid使内容填满整个页面 -->
    <div class="row">
        <div class="col-lg-12 text-white text-center py-3"> <!-- 使用col-lg-12使占据整行，bg-primary为背景颜色为蓝色，text-white为字体颜色为白色，py-3为上下内边距为3 -->
            <h1>登记发表论文情况</h1>
        </div>
    </div>
</div>
<div class="container"> <!-- 使用container-fluid使内容填满整个页面 -->
    <div class="row">TODO</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
</body>
</html>