<div class="form-group">
    <label for="type">类型：</label>
    <div class="form-check form-check-inline" style="display: inline-block">
        <input class="form-check-input" type="checkbox" id="type1" name="type" value="type1">
        <label class="form-check-label" for="type1">CCF-A</label>
    </div>
    <div class="form-check form-check-inline" style="display: inline-block">
        <input class="form-check-input" type="checkbox" id="type2" name="type" value="type2">
        <label class="form-check-label" for="type2">CCF-B</label>
    </div>
    <div class="form-check form-check-inline" style="display: inline-block">
        <input class="form-check-input" type="checkbox" id="type3" name="type" value="type3">
        <label class="form-check-label" for="type3">CCF-C</label>
    </div>
    <!-- 添加更多的选项 -->
</div>