<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>登记发表论文情况</title>
        <link href="../static/css/bootstrap.css" rel="stylesheet" />
        <style>
            body {
                background: url("../static/img/background.jpg") no-repeat center
                    center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            .container.top {
                /* 为新的类添加样式 */
                height: 200px; /* 设置高度为视口的高度 */
                background-color: transparent; /* 设置背景颜色为透明 */
                display: flex; /* 使用flex布局 */
                justify-content: center; /* 水平居中 */
                align-items: center; /* 垂直居中 */
            }
            .nav {
                background-color: #f8f9fa; /* 设置背景颜色为浅灰色 */
                border-radius: 5px; /* 设置边框圆角 */
                /* padding: 20px; /* 设置内边距 */
                /* width: 100%; /* 设置宽度为100% */
                width: 95%;
            }
            .container.query {
                background-color: #f8f9fa;
                border-radius: 5px; /* 设置边框圆角 */
                padding: 20px; /* 设置内边距 */
                margin-top: 20px;
            }
            input {
                margin-right: 10px;
            }
            .author {
                margin-bottom: 10px;
                margin-top: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container top">
            <!-- 使用container-fluid使内容填满整个页面 -->
            <div class="row">
                <div class="col-lg-12 text-white text-center py-3">
                    <!-- 使用col-lg-12使占据整行，bg-primary为背景颜色为蓝色，text-white为字体颜色为白色，py-3为上下内边距为3 -->
                    <h1>发表论文情况</h1>
                </div>
            </div>
        </div>
        <div class="container query">
            <div class="container" role="navigation">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="../paper">查询</a></li>
                    <li role="presentation" class="active">
                        <a href="register">登记</a>
                    </li>
                </ul>
            </div>

            <form
                method="POST"
                action="/paper/register"
                style="margin-top: 20px"
                id="register_form"
            >
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        id="id"
                        name="id"
                        placeholder="序号"
                        required
                    />
                </div>
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                        placeholder="名称"
                        required
                    />
                </div>
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        name="source"
                        placeholder="发表源"
                        required
                    />
                </div>
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        id="year"
                        name="year"
                        placeholder="发表年份"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="type">类型：</label>
                    <div
                        class="form-check form-check-inline"
                        style="display: inline-block"
                    >
                        <input
                            class="form-check-input"
                            type="radio"
                            id="type1"
                            name="type"
                            value="type1"
                            required
                        />
                        <label class="form-check-label" for="type1"
                            >full paper</label
                        >
                    </div>
                    <div
                        class="form-check form-check-inline"
                        style="display: inline-block"
                    >
                        <input
                            class="form-check-input"
                            type="radio"
                            id="type2"
                            name="type"
                            value="type2"
                            required
                        />
                        <label class="form-check-label" for="type2"
                            >short paper</label
                        >
                    </div>
                    <div
                        class="form-check form-check-inline"
                        style="display: inline-block"
                    >
                        <input
                            class="form-check-input"
                            type="radio"
                            id="type3"
                            name="type"
                            value="type3"
                            required
                        />
                        <label class="form-check-label" for="type3"
                            >poster paper</label
                        >
                    </div>
                    <!-- 添加更多的选项 -->
                    <div
                        class="form-check form-check-inline"
                        style="display: inline-block"
                    >
                        <input
                            class="form-check-input"
                            type="radio"
                            id="type4"
                            name="type"
                            value="type4"
                            required
                        />
                        <label class="form-check-label" for="type4"
                            >demo paper</label
                        >
                    </div>
                </div>
                <div class="form-group">
                    <label for="level">等级：</label>
                    <div
                        class="form-check form-check-inline"
                        style="display: inline-block"
                    >
                        <input
                            class="form-check-input"
                            type="radio"
                            id="level1"
                            name="level"
                            value="level1"
                            required
                        />
                        <label class="form-check-label" for="level1"
                            >CCF-A</label
                        >
                    </div>
                    <div
                        class="form-check form-check-inline"
                        style="display: inline-block"
                    >
                        <input
                            class="form-check-input"
                            type="radio"
                            id="level2"
                            name="level"
                            value="level2"
                            required
                        />
                        <label class="form-check-label" for="level2"
                            >CCF-B</label
                        >
                    </div>
                    <div
                        class="form-check form-check-inline"
                        style="display: inline-block"
                    >
                        <input
                            class="form-check-input"
                            type="radio"
                            id="level3"
                            name="level"
                            value="level3"
                            required
                        />
                        <label class="form-check-label" for="level3"
                            >CCF-C</label
                        >
                    </div>
                    <!-- 添加更多的选项 -->
                    <div
                        class="form-check form-check-inline"
                        style="display: inline-block"
                    >
                        <input
                            class="form-check-input"
                            type="radio"
                            id="level4"
                            name="level"
                            value="level4"
                            required
                        />
                        <label class="form-check-label" for="level4"
                            >中文 CCF-A</label
                        >
                    </div>
                    <div
                        class="form-check form-check-inline"
                        style="display: inline-block"
                    >
                        <input
                            class="form-check-input"
                            type="radio"
                            id="level5"
                            name="level"
                            value="level5"
                            required
                        />
                        <label class="form-check-label" for="level5"
                            >中文 CCF-B</label
                        >
                    </div>
                    <div
                        class="form-check form-check-inline"
                        style="display: inline-block"
                    >
                        <input
                            class="form-check-input"
                            type="radio"
                            id="level6"
                            name="level"
                            value="level6"
                            required
                        />
                        <label class="form-check-label" for="level6"
                            >无等级</label
                        >
                    </div>
                </div>
                <div class="form-group">
                    <div id="authorContainer">
                        <div class="author">
                            <label for="author">作者1：</label>
                            <input
                                type="text"
                                name="authorId[]"
                                placeholder="工号"
                                required
                            />
                            <input
                                type="text"
                                name="authorOrder[]"
                                placeholder="序号"
                                required
                            />
                            <input
                                type="checkbox"
                                name="isCorrespondingAuthor[]"
                                value="1"
                            />
                            通讯作者
                        </div>
                    </div>

                    <button id="addAuthor">添加作者</button>
                    <button id="removeAuthor">删除作者</button>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="登记" />
                </div>
            </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/js/bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                $("#addAuthor").click(function () {
                    var authorHtml =
                        '<div class="author">\n' +
                        '<label for="author">作者' +
                        String($(".author").length + 1) +
                        "：</label>\n" +
                        '<input type="text" name="authorId[]" placeholder="工号" required>\n' +
                        '<input type="text" name="authorOrder[]" placeholder="序号" required>\n' +
                        '<input type="checkbox" name="isCorrespondingAuthor[]" value="1"> 通讯作者\n' +
                        "</div>";

                    $("#authorContainer").append(authorHtml);
                });

                $("#removeAuthor").click(function () {
                    if ($(".author").length > 1) {
                        $(".author").last().remove();
                    }
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $("#register_form").submit(function (event) {
                    var inputValue = $("#id").val();
                    if (inputValue === "") {
                        return;
                    }
                    if (!Number.isInteger(Number(inputValue))) {
                        event.preventDefault(); // 阻止表单的默认提交行为
                        alert("序号必须为整数！");
                        return;
                    }
                    var inputValue = $("#year").val();
                    var curYear = new Date().getFullYear();
                    if (inputValue === "") {
                        return;
                    }
                    if (!Number.isInteger(Number(inputValue))) {
                        event.preventDefault(); // 阻止表单的默认提交行为
                        alert("输入的年份不合法！");
                        return;
                    } else if (
                        Number(inputValue) < 1500 ||
                        Number(inputValue) > curYear
                    ) {
                        event.preventDefault(); // 阻止表单的默认提交行为
                        alert("输入的年份不合法！");
                        return;
                    }
                    event.preventDefault(); // 阻止表单的默认提交行为

                    $.ajax({
                        url: "/paper/register", // 请求的 URL
                        type: "POST", // 请求的方法
                        data: $(this).serialize(), // 表单数据
                        success: function (response) {
                            // 处理响应
                            alert(response.message);
                        },
                    });
                });
            });
        </script>
    </body>
</html>
